* {

    font-family: sans-serif;
}

.tepe {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;

    list-style: none;
    background-color: #082442;
}

.tepe a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: white;
    font-size: 12px;
    transition: 0.8s;
}

.tepe a:hover {
    background-color: darkgoldenrod;
    color: white;
}

.lang {
    background-image: url(https://www.erciyes.edu.tr/images/Slider/c7151c84-a3b7-4f01-9381-8560a9d2367e.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;

    width: 15px;
    height: 45px;
    display: block;
}

.logo {
    background-image: url(https://www.erciyes.edu.tr/images/logo.png) no-repeat center center;
    width: 442px;


    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.navbar {
    height: 110px;
    width: 100%;;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 99;
    position: relative;
}

.navbar__liste {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar ul li {
    margin: 5px 10px 0px 10px;
    padding: 15px;
    font-weight: 700;
    font-size: 17px;
    color: #082442;
    transition: 0.8s;
}

.navbar li:hover {
    color: red;
}

.fa {
    font-size: 25px;
    color: dimgray;
    margin-right: 10px;
}

.fa-solid {
    margin-left: 10px;
}

.stun {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 0 !important;
    margin: 0 !important;

}

.stun > div {
    padding: 40px;
    color: #fff;
    flex-grow: 1;
    padding-top: 45px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #dee2e6 !important;

}

.item1 {

    background-image: url(images/item1.jpg);


}

.item2 {
    background-image: url(images/item2.jpg);
}

.item3 {
    background-image: url(images/item3.jpg);
}

.item4 {
    background-image: url(images/item4.jpg);
}

.item5 {
    background-image: url(images/item5.jpg);
}

.item6 {
    background-image: url(images/item6.jpg);
}

.grey-bg {
    min-height: 1000px;
    background: rgba(222, 225, 231, 1);
}

.container {
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: fadeInLeft;
    min-width: 1500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}